# fly.toml app configuration file generated for doomanddastardlies on 2026-02-13T20:19:38Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'doomanddastardlies'
primary_region = 'ams'

[build]

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
