# fly.toml app configuration file generated for app-wild-darkness-2375 on 2026-02-13T20:11:18Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'app-wild-darkness-2375'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
